USE [master]
GO
/****** Object:  Database [QLNHANSU]    Script Date: 2017-10-30 11:49:13 PM ******/
CREATE DATABASE [QLNHANSU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNHANSU', FILENAME = N'd:\SQL Server Management Studio\MSSQL11.MTAZERO\MSSQL\DATA\QLNHANSU.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNHANSU_log', FILENAME = N'd:\SQL Server Management Studio\MSSQL11.MTAZERO\MSSQL\DATA\QLNHANSU_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNHANSU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNHANSU]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NGAY] [datetime] NULL,
	[CHUYENNGANH] [nvarchar](max) NULL,
	[MABANG] [varchar](max) NULL,
	[LOAITOTNGHIEP] [nvarchar](max) NULL,
	[LOAIBANG] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BAOHIEMXAHOI]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHIEMXAHOI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[SOBAOHIEM] [nvarchar](max) NULL,
	[NGAYLAMSO] [datetime] NULL,
	[NGAYCAPSO] [datetime] NULL,
	[NOICAP] [nvarchar](max) NULL,
	[NGAYTHOIBAOHIEM] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOHIEMYTE]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAOHIEMYTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[SOTHE] [varchar](max) NULL,
	[BATDAU] [datetime] NULL,
	[KETTHUC] [datetime] NULL,
	[NGAYCAP] [datetime] NULL,
	[NOICAP] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NGAY] [datetime] NULL,
	[LOAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
	[PHUCAPCHUCVU] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONGVIECNHV]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIECNHV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[TEN] [nvarchar](max) NULL,
	[NGAYGIAOVIEC] [datetime] NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[NGUOIGIAOVIEC] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANTOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOPDONGLAODONG]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[LUONGID] [int] NULL,
	[NOIDUNGCONGVIEC] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HUYEN]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
	[TINHID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHENTHUONG]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHENTHUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGAY] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KYLUAT]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYLUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGAY] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HESOLUONG] [float] NULL,
	[THAMNIENVUOTKHUNG] [float] NULL,
	[HESOCHENHLECHBAOLUU] [float] NULL,
	[TRACHNHIEM] [float] NULL,
	[DOCHAI] [float] NULL,
	[DACTHUNGHE] [float] NULL,
	[DANGUYVIEN] [float] NULL,
	[HUONGDANTHUVIEC] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGOAINGU]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGOAINGU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGOAINGUNHANVIEN]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGOAINGUNHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NGOAINGUID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACCVC] [varchar](max) NULL,
	[MANV] [varchar](max) NULL,
	[PHONGBANID] [int] NULL,
	[CHUCVUID] [int] NULL,
	[HOTEN] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [int] NULL,
	[MASOTHUE] [nvarchar](max) NULL,
	[SOLAODONG] [nvarchar](max) NULL,
	[NOISINH] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[CMND] [varchar](max) NULL,
	[NGAYCAP] [datetime] NULL,
	[XAID] [int] NULL,
	[DANTOCID] [int] NULL,
	[TONGIAOID] [int] NULL,
	[TRINHDOHOCVANID] [int] NULL,
	[ANH] [varbinary](max) NULL,
	[DANG] [int] NULL,
	[MATKHAU] [varchar](max) NULL,
	[LUONGID] [int] NULL,
	[LOAIHOPDONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
	[IDCAPTREN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANHEGD]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANHEGD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUATRINHCONGTAC]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUATRINHCONGTAC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[BATDAU] [datetime] NULL,
	[KETTHUC] [datetime] NULL,
	[CONGTY] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[DIENTHOAI] [nvarchar](max) NULL,
	[NOIDUNGCONGTAC] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUATRINHHOCTAP]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUATRINHHOCTAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[BATDAU] [datetime] NULL,
	[KETTHUC] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](max) NULL,
	[PASSWORD] [varchar](max) NULL,
	[NHANVIENID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAISAN]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAISAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[TENTAISAN] [nvarchar](max) NULL,
	[GIATRI] [int] NULL,
	[SOLUONG] [int] NULL,
	[BATDAUSOHUU] [datetime] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAMSOHETHONG]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSOHETHONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VALUE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [int] NULL,
	[QUEQUAN] [nvarchar](max) NULL,
	[CMND] [varchar](max) NULL,
	[QUANHEGDID] [int] NULL,
	[NHANVIENID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TONGIAO]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONGIAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRINHDOHOCVAN]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDOHOCVAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XA]    Script Date: 2017-10-30 11:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
	[HUYENID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BAOHIEMXAHOI] ON 

INSERT [dbo].[BAOHIEMXAHOI] ([ID], [NHANVIENID], [SOBAOHIEM], [NGAYLAMSO], [NGAYCAPSO], [NOICAP], [NGAYTHOIBAOHIEM]) VALUES (1, 2, N'', CAST(0x0000A817008EBBE1 AS DateTime), CAST(0x0000A817008EBBE1 AS DateTime), N'', CAST(0x0000A817008EBBE1 AS DateTime))
INSERT [dbo].[BAOHIEMXAHOI] ([ID], [NHANVIENID], [SOBAOHIEM], [NGAYLAMSO], [NGAYCAPSO], [NOICAP], [NGAYTHOIBAOHIEM]) VALUES (2, 3, N'', CAST(0x0000A81C015AC128 AS DateTime), CAST(0x0000A81C015AC128 AS DateTime), N'', CAST(0x0000A81C015AC128 AS DateTime))
INSERT [dbo].[BAOHIEMXAHOI] ([ID], [NHANVIENID], [SOBAOHIEM], [NGAYLAMSO], [NGAYCAPSO], [NOICAP], [NGAYTHOIBAOHIEM]) VALUES (3, 5, N'', CAST(0x0000A81C0175D354 AS DateTime), CAST(0x0000A81C0175D354 AS DateTime), N'', CAST(0x0000A81C0175D354 AS DateTime))
SET IDENTITY_INSERT [dbo].[BAOHIEMXAHOI] OFF
SET IDENTITY_INSERT [dbo].[BAOHIEMYTE] ON 

INSERT [dbo].[BAOHIEMYTE] ([ID], [NHANVIENID], [SOTHE], [BATDAU], [KETTHUC], [NGAYCAP], [NOICAP]) VALUES (1, 2, N'', CAST(0x0000A817008EBBD5 AS DateTime), CAST(0x0000A817008EBBD5 AS DateTime), NULL, N'')
INSERT [dbo].[BAOHIEMYTE] ([ID], [NHANVIENID], [SOTHE], [BATDAU], [KETTHUC], [NGAYCAP], [NOICAP]) VALUES (2, 3, N'458715264', CAST(0x0000A81C015AC0B8 AS DateTime), CAST(0x0000A81C015AC0B8 AS DateTime), NULL, N'')
INSERT [dbo].[BAOHIEMYTE] ([ID], [NHANVIENID], [SOTHE], [BATDAU], [KETTHUC], [NGAYCAP], [NOICAP]) VALUES (3, 5, N'', CAST(0x0000A81C0175D33D AS DateTime), CAST(0x0000A81C0175D33D AS DateTime), NULL, N'')
SET IDENTITY_INSERT [dbo].[BAOHIEMYTE] OFF
SET IDENTITY_INSERT [dbo].[CHAMCONG] ON 

INSERT [dbo].[CHAMCONG] ([ID], [NHANVIENID], [NGAY], [LOAI]) VALUES (1, 2, CAST(0x0000A81C00F41DCE AS DateTime), 0)
INSERT [dbo].[CHAMCONG] ([ID], [NHANVIENID], [NGAY], [LOAI]) VALUES (2, 2, CAST(0x0000A81B00F41DCE AS DateTime), 1)
INSERT [dbo].[CHAMCONG] ([ID], [NHANVIENID], [NGAY], [LOAI]) VALUES (3, 3, CAST(0x0000A81B00F41DCE AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CHAMCONG] OFF
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([ID], [TEN], [PHUCAPCHUCVU]) VALUES (1, N'Giám đốc', 6)
INSERT [dbo].[CHUCVU] ([ID], [TEN], [PHUCAPCHUCVU]) VALUES (2, N'Nhân viên', 2.3)
INSERT [dbo].[CHUCVU] ([ID], [TEN], [PHUCAPCHUCVU]) VALUES (3, N'Trưởng phòng', 4.2)
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
SET IDENTITY_INSERT [dbo].[CONGVIECNHV] ON 

INSERT [dbo].[CONGVIECNHV] ([ID], [NHANVIENID], [TEN], [NGAYGIAOVIEC], [NGAYBATDAU], [NGAYKETTHUC], [NGUOIGIAOVIEC], [TRANGTHAI], [GHICHU]) VALUES (1, 2, N'Báo cáo kết quả tháng 10', CAST(0x0000A8170092EA51 AS DateTime), CAST(0x0000A8170092EA51 AS DateTime), CAST(0x0000A8170092EA51 AS DateTime), 2, 0, N'Đang thực hiện')
SET IDENTITY_INSERT [dbo].[CONGVIECNHV] OFF
SET IDENTITY_INSERT [dbo].[DANTOC] ON 

INSERT [dbo].[DANTOC] ([ID], [TEN]) VALUES (1, N'Kinh')
SET IDENTITY_INSERT [dbo].[DANTOC] OFF
SET IDENTITY_INSERT [dbo].[HUYEN] ON 

INSERT [dbo].[HUYEN] ([ID], [TEN], [TINHID]) VALUES (1, N'Yên Lạc', 1)
SET IDENTITY_INSERT [dbo].[HUYEN] OFF
SET IDENTITY_INSERT [dbo].[LUONG] ON 

INSERT [dbo].[LUONG] ([ID], [HESOLUONG], [THAMNIENVUOTKHUNG], [HESOCHENHLECHBAOLUU], [TRACHNHIEM], [DOCHAI], [DACTHUNGHE], [DANGUYVIEN], [HUONGDANTHUVIEC]) VALUES (1, 12.5, 0, 0, 0.54000002145767212, 0, 0, 0, 0)
INSERT [dbo].[LUONG] ([ID], [HESOLUONG], [THAMNIENVUOTKHUNG], [HESOCHENHLECHBAOLUU], [TRACHNHIEM], [DOCHAI], [DACTHUNGHE], [DANGUYVIEN], [HUONGDANTHUVIEC]) VALUES (2, 4, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[LUONG] ([ID], [HESOLUONG], [THAMNIENVUOTKHUNG], [HESOCHENHLECHBAOLUU], [TRACHNHIEM], [DOCHAI], [DACTHUNGHE], [DANGUYVIEN], [HUONGDANTHUVIEC]) VALUES (3, 1, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[LUONG] OFF
SET IDENTITY_INSERT [dbo].[NGOAINGU] ON 

INSERT [dbo].[NGOAINGU] ([ID], [TEN]) VALUES (1, N'Tiếng Anh')
SET IDENTITY_INSERT [dbo].[NGOAINGU] OFF
SET IDENTITY_INSERT [dbo].[NGOAINGUNHANVIEN] ON 

INSERT [dbo].[NGOAINGUNHANVIEN] ([ID], [NHANVIENID], [NGOAINGUID]) VALUES (1, 3, 1)
SET IDENTITY_INSERT [dbo].[NGOAINGUNHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHONGBAN] ON 

INSERT [dbo].[PHONGBAN] ([ID], [TEN], [IDCAPTREN]) VALUES (1, N'Phòng Giám Đốc', NULL)
INSERT [dbo].[PHONGBAN] ([ID], [TEN], [IDCAPTREN]) VALUES (2, N'Phòng Kế Hoạch', 1)
SET IDENTITY_INSERT [dbo].[PHONGBAN] OFF
SET IDENTITY_INSERT [dbo].[QUANHEGD] ON 

INSERT [dbo].[QUANHEGD] ([ID], [TEN]) VALUES (1, N'Người thân')
SET IDENTITY_INSERT [dbo].[QUANHEGD] OFF
SET IDENTITY_INSERT [dbo].[THAMSOHETHONG] ON 

INSERT [dbo].[THAMSOHETHONG] ([ID], [VALUE]) VALUES (1, 1230000)
SET IDENTITY_INSERT [dbo].[THAMSOHETHONG] OFF
SET IDENTITY_INSERT [dbo].[TINH] ON 

INSERT [dbo].[TINH] ([ID], [TEN]) VALUES (1, N'Vĩnh Phúc')
SET IDENTITY_INSERT [dbo].[TINH] OFF
SET IDENTITY_INSERT [dbo].[TONGIAO] ON 

INSERT [dbo].[TONGIAO] ([ID], [TEN]) VALUES (1, N'Đạo phật')
SET IDENTITY_INSERT [dbo].[TONGIAO] OFF
SET IDENTITY_INSERT [dbo].[TRINHDOHOCVAN] ON 

INSERT [dbo].[TRINHDOHOCVAN] ([ID], [TEN]) VALUES (1, N'Đại học')
SET IDENTITY_INSERT [dbo].[TRINHDOHOCVAN] OFF
SET IDENTITY_INSERT [dbo].[XA] ON 

INSERT [dbo].[XA] ([ID], [TEN], [HUYENID]) VALUES (1, N'Đồng Văn', 1)
SET IDENTITY_INSERT [dbo].[XA] OFF
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [LOAIHOPDONG]
GO
ALTER TABLE [dbo].[BANGCAP]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[BAOHIEMXAHOI]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[BAOHIEMYTE]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[CONGVIECNHV]  WITH CHECK ADD FOREIGN KEY([NGUOIGIAOVIEC])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[CONGVIECNHV]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD FOREIGN KEY([LUONGID])
REFERENCES [dbo].[LUONG] ([ID])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HUYEN]  WITH CHECK ADD FOREIGN KEY([TINHID])
REFERENCES [dbo].[TINH] ([ID])
GO
ALTER TABLE [dbo].[KHENTHUONG]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[KYLUAT]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[NGOAINGUNHANVIEN]  WITH CHECK ADD FOREIGN KEY([NGOAINGUID])
REFERENCES [dbo].[NGOAINGU] ([ID])
GO
ALTER TABLE [dbo].[NGOAINGUNHANVIEN]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([CHUCVUID])
REFERENCES [dbo].[CHUCVU] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([DANTOCID])
REFERENCES [dbo].[DANTOC] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([LUONGID])
REFERENCES [dbo].[LUONG] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([PHONGBANID])
REFERENCES [dbo].[PHONGBAN] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([TONGIAOID])
REFERENCES [dbo].[TONGIAO] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([TRINHDOHOCVANID])
REFERENCES [dbo].[TRINHDOHOCVAN] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([XAID])
REFERENCES [dbo].[XA] ([ID])
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD FOREIGN KEY([IDCAPTREN])
REFERENCES [dbo].[PHONGBAN] ([ID])
GO
ALTER TABLE [dbo].[QUATRINHCONGTAC]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[QUATRINHHOCTAP]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[TAISAN]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD FOREIGN KEY([QUANHEGDID])
REFERENCES [dbo].[QUANHEGD] ([ID])
GO
ALTER TABLE [dbo].[XA]  WITH CHECK ADD FOREIGN KEY([HUYENID])
REFERENCES [dbo].[HUYEN] ([ID])
GO
USE [master]
GO
